.App {
  margin: 6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.filter-menu {
  max-width: 50%;
}

.table-bordered {
  margin-top: 1rem;
}

.accepted {
  color: red;
}

.delivered {
  color: green;
}

.card {
  margin: 1rem;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .App {
    margin: 1rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filter-menu {
    max-width: 100%;
  }
}
